@import url(./css/global.css);
@import url(./css/header.css);

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    background-image: url(./imagens/Renda\ Fixa\ vs\ Renda\ Variável\.png);
    background-color: #bde7ff;
    background-size: cover;
    background-position: center; /* Alterado para centralizar */
    background-repeat: no-repeat;
    flex: 1; /* Ocupa o espaço restante */
    display: flex;
    align-items: center;
}

section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 2rem;
}

.inicio {
    max-width: 70%;
    padding-inline: 3.5rem;
}

section h1 {
    font-weight: 700;
    font-size: 3rem;
    font-family: 'Montserrat';
    color: #022e62;
    margin-bottom: 1rem;
}

section p {
    font-family: 'Roboto';
    color: #022e62;
    font-size: 1.2rem;
}

.calculadorag img {
    max-width: 100%;
    height: auto;
    width: 30rem;
}

