@import url(../css/global.css);
@import url(../css/header.css);



body {
    min-height: 100vh;
}

main {
    background-image: url(../imagens/Fundo-Renda-Fixa.png);
    background-color: #bde7ff;
    background-size: cover;
    background-position: center; /* Alterado para centralizar */
    background-repeat: no-repeat;
    flex: 1; /* Ocupa o espaço restante */
    display: flex;
    align-items: center;
}

section {
    width: 100%;
    padding: 2rem;
    padding-inline: 10rem;
    height: 90vh;
}

.es {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.invest img {
    width: 40rem;
    height: auto;
    margin-right: -10rem;
}

.perfis {
    margin-top: 1rem;
}

section h1 {
    font-weight: 700;
    font-size: 3rem;
    font-family: 'Montserrat';
    color: #022e62;
    margin-bottom: 2rem;
}

section p {
    text-indent: 2rem;
    font-family: 'Roboto';
    color: #022e62;
    font-size: 1.2rem;
    line-height: 1.6;
    margin-bottom: 1rem;
}

section ul {
    margin-top: 0rem;
    margin-inline-start: 5rem;
    list-style-type: disc;
    /* Marcadores de lista (bolinhas) */
    margin-bottom: 3rem;
}

section li {
    font-size: 1.2rem;
    margin-bottom: 10px;
    color: #022e62;
}

.ancora a {
    margin-top: 5rem;
    background-color: #022e62;
    border-radius: 5px;
    color: #bde7ff;
    text-decoration: none;
    font-family: 'Montserrat';
    font-size: 1rem;
    font-weight: bold;
    padding: 10px;
    text-decoration: none;
}

.ancora {
    text-align: right; /* Alinha todo o conteúdo à direita */
    margin-top: 2rem; /* Espaço acima do link */
}
.ancora a {
    display: inline-block; /* Permite alinhamento correto */
    margin-top: 1rem; /* Ajuste fino do espaçamento */
}