@import url(../css/global.css);
@import url(../css/header.css);

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    background-image: url(../imagens/Fundo-Titulos-Publicos.png);
    background-color: #bde7ff;
    background-size: cover;
    background-position: 0px -200px;
    background-repeat: repeat;
    padding-inline: 10rem;
    padding-top: 3rem;
    padding-bottom: 1rem;
}

section {
    height: 90vh;
}

section h1 {
    font-weight: 700;
    font-size: 3rem;
    font-family: 'Montserrat';
    color: #022e62;
    margin-bottom: 2rem;
}

section p {
    text-indent: 2rem;
    font-family: 'Roboto';
    color: #022e62;
    font-size: 1.2rem;
    line-height: 1.6;
    margin-bottom: 1rem;
}

section ul {
    list-style-type: disc;
    /* Marcadores de lista (bolinhas) */
    padding-left: 40px;
    /* Espaçamento à esquerda da lista */
    margin-top: -1rem;
    margin-inline-start: 1rem;

}

section li {
    font-size: 1.2rem;
    margin-bottom: 10px;
    color: #022e62;
}

li span {
    font-weight: 700;
    text-decoration: underline;
}

.ost {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

.antes {
    margin-bottom: 2rem;
}

.ancora a {
    margin-top: 5rem;
    background-color: #022e62;
    border-radius: 5px;
    color: #bde7ff;
    text-decoration: none;
    font-family: 'Montserrat';
    font-size: 1rem;
    font-weight: bold;
    padding: 10px;
    text-decoration: none;
}

.ancora {
    text-align: right; /* Alinha todo o conteúdo à direita */
    margin-top: 2rem; /* Espaço acima do link */
}
.ancora a {
    display: inline-block; /* Permite alinhamento correto */
    margin-top: 1rem; /* Ajuste fino do espaçamento */
}